metrics_enabled : false
debug: true

graphite:
  host: carbon.hostedgraphite.com
  api_key: 7509c0ff-4db5-4cae-91ee-6e78ff13b336
  reporting_interval_in_seconds: 30
  include_metrics:
    - org.skife
    - xx-responses
    - com.hello

server:
  adminMinThreads: 1
  adminMaxThreads: 64
  adminContextPath: /
  applicationContextPath: /
  applicationConnectors:
    - type: http
      port: 1111
  adminConnectors:
    - type: http
      port: 1112
  requestLog:
    timeZone: UTC
    appenders:
      - type: console
#      - type: file
#        currentLogFilename: ./log/hello-time/hello-time-access.log
#        threshold: ALL
#        archive: true
#        archivedLogFilenamePattern: ./log/hello-time/hello-time-%d{yyyy-MM-dd}.log.gz
#        archivedFileCount: 7

logging:
  level: INFO
  loggers:
    com.hello.time: DEBUG
  appenders:
     - type: console
#    - type: file
#      threshold: INFO
#      currentLogFilename: /var/log/hello-time/hello-time.log
#      archivedLogFilenamePattern: /var/log/hello-time/hello-time-%d{yyyy-MM-dd}.log.gz
#      archivedFileCount: 5
#    - type: papertrail
#      host: logs2.papertrailapp.com
#      port: 11366
#      ident: hello-time
#      # timezone: UTC
#      # facility: USER
#      # sendLocalName: true

dynamodb:
  region: us-east-1
  tables:
    features : features
    sense_key_store : key_store
    teams : teams

  endpoints:
      features : http://dynamodb.us-east-1.amazonaws.com
      sense_key_store : http://dynamodb.us-east-1.amazonaws.com
      teams : http://dynamodb.us-east-1.amazonaws.com